/* Google Font Import - Poppings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}


:root { 
    /* ========= Colors ========== */
    --body-color: ;
    --sidebar-color: ;
    --primary-color: ;
    --primary-color-light: ;
    --toggle-color: ;
    --text-color: ;


    /* ========= Transition ========== */
    --tran-03: ;
    --tran-04: ;
    --tran-06: ;
    --tran-07: ;
}